<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900  p-6">
        <form action="/login" method="post">
            <h2 class="text-white text-3xl mb-4 ml-2">Login Account</h2>
            <input class="py-3 px-4 bg-white rounded-md" type="text" placeholder="Email" name="email">
            <input class="py-3 px-4 bg-white rounded-md pl-4" type="password" placeholder="Password" name="password">
            <input class="py-2 text-white rounded-md px-5 bg-blue-500" type="submit" value="Login User">
        </form>
    </div>
</body>
</html>