<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-6">
        <form action="/upload" method="post" autocomplete="off" enctype="multipart/form-data" >
            <h1 class="mb-4 text-2xl">Upload Profile Picture</h1>
           <input name="image" type="file" class="bg-white text-black py-2 px-3 rounded-md border border-gray-300" />
            <input class="py-2 text-white rounded-md px-5 bg-blue-500" type="submit" value="Upload file">
        </form>
    </div>
</body>
</html>